.cellListEvenItem {
	cursor: pointer;
	background: #efefef;
	padding:7px;
}

.cellListOddItem {
	cursor: pointer;
	background: #ffffff;
	padding:7px;
}

.cellListOddItem:hover {
	background: #f0f4c2;
}

.cellListEvenItem:hover {
	background: #f0f4c2;
}
	
.cellListSelectedItem {
	background: #f0f4c2;
}

.cellListKeyboardSelectedItem {
}

.cellListWidget {}
