@CHARSET "UTF-8";


@external gwt-DisclosurePanel; 
@external gwt-DisclosurePanel-open; 
@external gwt-DisclosurePanel-closed; 
@external gwt-DecoratorPanel;
@external gwt-ListBox;
@external gwt-ToggleButton;
	
.gwt-ToggleButton{
	margin-top:2px;
	}
.gwt-ListBox{
	margin-top:6px;
	margin-right:6px;
}
.gwt-DecoratorPanel  {
	margin-right: 4px;
}

.gwt-DisclosurePanel {
	
}

.gwt-DisclosurePanel-open {
	
}

.gwt-DisclosurePanel-closed {
	
}

.gwt-DisclosurePanel .header,.gwt-DisclosurePanel .header a,.gwt-DisclosurePanel .header td
	{
	text-decoration: none; /* Remove underline from header */
	color: black;
	cursor: pointer;
	cursor: hand;
}

.gwt-DisclosurePanel .content {
	border-left: 3px solid #e8eef7;
	padding: 4px 0px 4px 8px;
	margin-left: 6px;
}